{% load static %}
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
    <div class="card shadow recipe-card border-0">
        {% if recipe.image%}
            <img src="{{ recipe.image.url }}" class="card-img-top recipe-card-image" alt="{{ recipe.name }}">
        {% else %}
            <img src="/media/recipe_images/default.jpg" alt="Default Image">
        {% endif %}
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p>
                        <a href="{% url 'recipe_page' recipe_id=recipe.id %}" class="text-decoration-none logo-font">{{ recipe.name }}</a>
                    </p>
                </div>
                <div class="col-2">
                    {% if recipe.author.profile_picture %}
                        <img src="{{ recipe.author.profile_picture.url }}" alt="{{ recipe.author.username }}'s Profile Picture" class="rounded-circle recipe-card-profile-picture">
                    {% else %}
                        <i class="bi bi-person icon-md"></i>
                    {% endif %}
                </div>
                <div class="col-10">
                    <small>
                        <!-- TODO: Add url function for users profile page -->
                        <a href="#" class="text-decoration-none">{{ recipe.author.username }}</a>
                    </small>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <p>Serves: {{ recipe.servings }}</p>
                    <p>
                        <i class="bi bi-clock"></i>
                        <span>{{ recipe.total_time }} Minutes</span>
                    </p>
                    <p>
                        <i class="bi bi-tag-fill"></i>
                        <span>{{ recipe.category.all|join:', '}}</span>
                    </p>
                    {% if recipe.author.username == user.username %}
                        <a class="disabled text-decoration-none">
                            <i class="bi bi-heart"></i>
                            <span>{{ recipe.likes }}</span>
                        </a>
                    {% else %}
                        {% if recipe in recipe.author.profile.liked_recipes %}
                            <!-- TODO: Add url function to unlike recipe -->
                            <a href="#" class="text-decoration-none">
                                <i class="bi bi-heart-fill oink-heart"></i>
                                <span>{{ recipe.likes }}</span>
                            </a>
                        {% else %}
                            <a href="{% url 'like_recipe' recipe_id=recipe.id %}" class="text-decoration-none">
                                <i class="bi bi-heart"></i>
                                <span>{{ recipe.likes }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>