{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-uppercase" data-aos="fade-right" data-aos-duration="1000">
    <div class="row vh-100">
        <div class="col-12 col-md-8 col-lg-6 m-auto">
            <div class="shadow rounded-20 bg-white p-3 p-md-5">
                <h1 class="display-4 text-center logo-font">Password Updated</h1>
                <p class="mt-5 mb-3 text-center">You have successfully changed your account password! You may now log in.</p>
                <div class="row mb-3">
                    <div class="col-12">
                        <a href="{% url 'login_page' %}" class="btn btn-lg form-btn border-dark-grey w-100 text-uppercase logo-font">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}