{% extends 'base.html' %}
{% block content %}
    <div class="container text-uppercase" data-aos="fade-right" data-aos-duration="1000">
        <div class="row vh-100">
            <div class="col-12 col-md-8 col-lg-6 m-auto">
                <form action="{% url 'payment' %}" method="post" class="shadow rounded-20 bg-white p-3 p-md-5">
                    <h1 class="display-4 text-center logo-font mb-5">Sign Up Today</h1>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="{{ field.id }}" class="form-label">{{ field.label }}</label>
                            <div class="input-group rounded border-dark-grey bg-white">
                                {{ field }}
                            </div>
                        </div>
                    </div>                        
                    {% endfor %}
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-lg border-dark-grey form-btn w-100 logo-font text-uppercase text-center">Continue</button>
                        </div>
                    </div>
                    <p>Already have an account? <a href="" class="text-dark">Log In</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}