{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-uppercase" data-aos="fade-right" data-aos-duration="1000">
    <div class="row vh-100">
        <div class="col-12 col-md-8 col-lg-6 m-auto">
            <div class="rounded-20 shadow bg-white p-3 p-md-5">
                <h1 class="display-4 text-center logo-font">Sign Up Complete</h1>
                <p class="text-center mt-5">We have sent a confirmation email to: <strong>{{ user_email }}</strong>. Please check your junk folder just in case.</p>
                <!-- TODO: Add url function for login page -->
                <a href="{% url 'login_page' %}" class="btn btn-lg form-btn logo-font w-100 border-dark-grey">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}