<footer class="bg-white mb-0 mt-5">
    <div class="container">
        <div class="row p-3">
            <div class="col-12 col-sm-6 col-md-4">
                <h1 class="display-4 logo-font">Contact</h1>
                <p>
                    <a href="#" class="lead nav-link">contact@yummyrecipeblog.com</a>
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <h1 class="display-4 logo-font">Categories</h1>
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Popular</a>                    
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Meat</a>                    
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Fish</a>                    
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Vegetarian & Vegan</a>                    
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <h1 class="display-4 logo-font">Information</h1>
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Cookie Policy</a>                    
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Sitemap</a>                    
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="small">&copy; 2021 Yummy Recipe Blog | Design by Roy Magnussen</p>
    </div>
</footer>